<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sausage Trainers</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a>
        </li>
        <li>
          <a href="/sign-up"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<!-- Find a background photo of a class, add opacity to it. Have the form on top of it -->
<div class="container">

  <div class="sign-up-form-box">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form action="/sign-up" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <h2>Sign Up</h2>
          <h4>Already have an account? Login <a href="">here</a></h4>
          <hr class="colorgraph">
          <div class="row">
            <div class="form-group">
              <label for="">Username</label>
              <input placeholder="Required" name="username" class="form-control input-lg">
            </div>
            <div class="form-group">
              <label for="">Email</label>
              <input placeholder="Required" name="email" class="form-control input-lg">
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input placeholder="Required" name="password" class="form-control input-lg">
            </div>
            <div class="form-group">
              <label for="">Password Confirmation</label>
              <input placeholder="Required" class="form-control input-lg">
            </div>
            <div class="form-group">
              <label>Add a photo</label>
              <input type="file" name="image_url">
            </div>
            <div class="btn-group-verical" role="group">
              <label for="">Select those that apply to you: </label>
              <input type="checkbox" name="instructor">  I am an instructor
              <input type="checkbox" name="student">  I am a student
            </div>
          </div>

          <hr class="colorgraph">
          <div class="row form-btn">
            <div class="col-xs-12 col-md-6 col-md-offset-3"><button>Sign Up</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div id="footer">
  <div class="container">
      <a href="link_to_our_github_repo"><i class="fa fa-github fa-2x gh-symbol"></i></a>
      <p class="text-muted"><i class="fa fa-copyright"></i>This website is fully owned by TeamSaus productions</p>
  </div>
</div>
