<!-- fixed nav bar and burger - yummy! -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sausage Trainers</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a>
        </li>
        <li>
          <a href="/sign-up"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<!-- Carousel -->

<header id="myCarousel" class="carousel slide">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
      <div class="carousel-caption">
        <h2>Caption 1</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
      <div class="carousel-caption">
        <h2>Caption 2</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
      <div class="carousel-caption">
        <h2>Caption 3</h2>
      </div>
    </div>
  </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<main>
  <div class="container">
    <div class="row">

      <h1 class="col-12">Let Sausage Trainer Get You Fit</h1>

      <p class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius animi molestiae commodi repellat laborum voluptas ad numquam aliquam culpa libero odit, officiis, aut quibusdam. Praesentium velit a alias. Facere.</p>

      <img src="http://placehold.it/350x150" class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    </div>

    <div class="row">

      <h1 class="col-12">Let Sausage Trainer Get You Sexy</h1>

      <img src="http://placehold.it/350x150" class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

      <p class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius animi molestiae commodi repellat laborum voluptas ad numquam aliquam culpa libero odit, officiis, aut quibusdam. Praesentium velit a alias. Facere.</p>
    </div>

  </div>
</main>

<div id="footer">
  <div class="container">
      <a href="link_to_our_github_repo"><i class="fa fa-github fa-2x gh-symbol"></i></a>
      <p class="text-muted"><i class="fa fa-copyright"></i>This website is fully owned by TeamSaus productions</p>
  </div>
</div>

<script>$('.carousel').carousel({ interval: 5000 });</script>
