<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sausage Trainer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>

<script id="navBarTemplate" type="text/mustacheTemplate">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sausage Trainers</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</script>
<script id="carouselTemplate" type="text/mustacheTemplate">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
      <div class="carousel-caption">
        <h2>Caption 1</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
      <div class="carousel-caption">
        <h2>Caption 2</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
      <div class="carousel-caption">
        <h2>Caption 3</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
  </a>
</script>
<script id="splashMainTemplate" type="text/mustacheTemplate">
  <div class="container">
    <div class="row">

      <h1 class="col-12">Let Sausage trainers run you business</h1>

      <p class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius animi molestiae commodi repellat laborum voluptas ad numquam aliquam culpa libero odit, officiis, aut quibusdam. Praesentium velit a alias. Facere.</p>

      <img src="http://placehold.it/350x150" class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    </div>
  </div>
</script>
<script id="footerTemplate" type="text/MustacheTemplate">
  <div class="container">
    <a href="link_to_our_github_repo"><i class="fa fa-github fa-2x gh-symbol"></i></a>
    <p class="text-muted"><i class="fa fa-copyright"></i>This website is fully owned by TeamSaus productions</p>
  </div>
</script>
<script id="container-template" type="text/mustacheTemplate">
  <div></div>
</script>
<script id="colour-bar-template" type="text/mustacheTemplate">
  <hr class="colorgraph">
</script>
<script id="trainer-header-template" type="text/mustacheTemplate">
      <img src="http://placehold.it/140x100" alt="" class="avatar">
      <h1 class="header-title"></h1>
      <ul class="nav nav-tabs navbar-right tabs-title">
        <li role="presentation" id="dashTab"><a href="#trainer/dash">Dashboard</a></li>
        <li role="presentation" id="classesTab"><a href="#trainer/activities">Classes</a></li>
        <li role="presentation" id="calendarTab"><a href="#trainer/calendar">Calendar</a></li>
        <li role="presentation" id="contactsTab"><a href="#trainer/contacts">Contacts</a></li>
      </ul>
</script>
<script id="student-header-template" type="text/mustacheTemplate">
      <img src="http://placehold.it/140x100" alt="" class="avatar">
      <h1 class="header-title"></h1>
      <ul class="nav nav-tabs navbar-right tabs-title">
        <li role="presentation" id="dashTab"><a href="#student/dash">Dashboard</a></li>
        <li role="presentation" id="classesTab"><a href="#student/activities">Classes</a></li>
        <li role="presentation" id="calendarTab"><a href="#student/calendar">Calendar</a></li>
        <li role="presentation" id="contactsTab"><a href="#student/contacts">Followed Instructors</a></li>
      </ul>
</script>
<script id="trainer-dashboard-template" type="text/underscoreTemplate">
      <div class="row">
        <div class="title-colourgraph col-xs-12 col-sm-12 col-md-9">
          <h1>Welcome back, Sausage</h1>
        </div>
        <!-- Calendar Here -->
        <div class="calendar-box col-xs-12 col-sm-12 col-md-3">
          <p>Integrate calendar here </p>
        </div>
      </div>
      <h3>Next Classes</h3>
      <!-- Confirmed classes -->
      <div class="table-responsive col-xs-12 col-md-12">
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-xs-3 col-md-3">Date</th>
                <th class="col-xs-4 col-md-4">Class</th>
                <th class="col-xs-5 col-md-5">Location</th>
              </tr>
            </thead>
            <tbody class="activities-list">

            </tbody>
          </table>
        </div>
      </div>
</script>
<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
</body>
</html>
